* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/** HEADER DESCUENTOS */

#header {
    background-color: #1CD1B0;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 15px;
    height: 23px;
}

/** HEADER LOGO TIENDA */

#header2 {
    background: #00669F;
    padding: 1%;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
}

/** BARRA DE NAVEGACIÓN */

nav {
    background-color: #001D2D;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}   

nav ul {
    display: flex;
    flex-grow: 0.1;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/** CARDS **/

.contenedor {
    display: flex;
}

.card {
    height: 533px;
    width: 300px;
    background-color: grey;
    margin: 20px;
}

.card-image {
    height: 193px;
    background-image: url('../img/batmanfondo.png');
}