
/*** HEADER ***/
<<<<<<< HEAD:Flexbox/root/css/style.css
#navegacion {
=======
header {
>>>>>>> dev:Pizzeria/root/css/style.css
    display: flex;
    justify-content: space-between;
}
#navegacion li {
    padding: 5px;
    margin: 0px 5px;
}
#header {
    display: flex;
<<<<<<< HEAD:Flexbox/root/css/style.css
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}

/** LISTAS  DE NAVEGACION**/
=======

}
#navegacion li {
    margin: 5px;
}
/** LISTAS **/
>>>>>>> dev:Pizzeria/root/css/style.css
.listas {
    list-style: none;
    color: white;
}
.listas a {
    text-decoration: none;
}
.listas a:visited {
    color: white;
}

/* CONTENIDO */
#tarjetas {
    display: flex;
    justify-content: center;
    margin: 80px 0px 80px;
    flex-wrap: wrap;
    align-content: stretch;
    flex-grow: 0.4;

}

/** FOOTER **/
<<<<<<< HEAD:Flexbox/root/css/style.css
#footer {
    display: flex;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}

#footer li {
    margin: 7px 0px;
    align-self: flex-start;
}
=======
footer {
    display: flex;
    background-color: #222222;
    align-items: center;
    justify-content: space-between;
}
>>>>>>> dev:Pizzeria/root/css/style.css
