* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

/*TODO: HEADER DESCUENTOS **/

#header {
    background-color: #1CD1B0;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 15px;
    height: 23px;
}

/*TODO: HEADER LOGO TIENDA */

#header2 {
    background: #00669F;
    padding: 1%;
    font-size: 30px;
    color: #FFF9F9;
    display: flex;
    align-items: center;
    height: 80px;
}

/*TODO: BARRA DE NAVEGACIÓN */

nav {
    background-color: #001D2D;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}   

nav ul {
    display: flex;
    flex-grow: 0.1;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    color: #FFF9F9;
    text-decoration: none;
}

/* TODO: CARDS */

/* ?  CONTENEDORES */

/**  CONTENEDOR PADRE TODAS LAS CARDS*/

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15vh;
    margin-bottom: 15vh;
} 

/**  CONTENEDOR CARDS INDIVIDUAL */

.contenedor-card {
    margin-bottom: 1rem;
    text-align: center;
    height: 533px;
    margin: 2%;
    width: 300px;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ?  IMAGENES  */

/** IMAGENES DE FONDO  */

.card-image {
    height: 193px;
    width: 100%;
    background-size: cover;
} 

.batman {
    background-image: url('../img/batmanfondo.png');
}

#harley {
    background-image: url(../img/harleyqueenfondo.png);
}

/**  IMAGEN PERFIL */

.card-logo {
    border-radius: 50%;
    position: relative;
    margin-top: -60px;
    right: 10px;
}

/**  CORAZON  */

.card-heart {
    text-align: center;
    z-index: 1;
    position: relative;
    top: -210px;
    right: 50px;
}

/**  TEXTO  */

.nombre {
    font-size: 30px;
    padding: 2%;
    margin: 2%;
}

.descripcion {
    padding: 2%;
    margin: 2%;
}

button {
    font-size: 15px;
    color: white;
    padding: 15px 37px;
    background-color: #00669F;
    margin: 5%;
    border: none;
    cursor: pointer;
}

/* TODO: FOOTER */

footer {
    background-color: #00669F;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF9F9;
}
