
header {
    text-align: center;
    background: #E5E5E5;
    margin-bottom: 107px;
}
h1,h3 {
    background-color:#C4C4C4;
    color: #005677;
    text-transform: uppercase;
}
footer {
    background: #005677;
    text-align: center;
    color: white;
}
section{
    margin-top: 40px;
    margin-bottom: 40px;
}
.negritaysubrayado {
    font-weight: bold;
    font-style: italic;
}
#interlineado {
margin-left: 78px;
}
#negrita {
 font-weight: bold;
}